// -----------------------------------------------------------------------------
// * This file contains very basic layouts.
// -----------------------------------------------------------------------------

.container {
  display: flex;
  justify-content: center;
}

.page {
  width: 100%;
  max-width: $page-max-width;
}

// * End
// * ------------------------
