// -----------------------------------------------------------------------------
// * Basic typography style for copy text.
// -----------------------------------------------------------------------------

* {
  font-family: $font-stack;
}

::placeholder {
  color: #767676;
  font-size: 20px;
  opacity: 1;
}

// * End
// * ------------------------
